mixin about
	section.about
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Компания
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Сертификаты и лицензии
				h1 О компании
				ul.subnav
					li.subnav__item.active
						a(href="#").subnav__link О компании
					li.subnav__item
						a(href="#").subnav__link Новости
					li.subnav__item
						a(href="#").subnav__link Сертификаты и лицензии

			.about__content.wis-content
				.wrapper
					p
						| Корпорация LEXX Technology выступает, как российская холдинговая компания. На сегодняшний день в структуру холдинга LEXX Technology входит ООО «Инжиниринговая компания «Континент».
					p
						| Наше виденье бизнеса заключается в создании глобальной публичной компании с необходимыми рейтингами и присутствием в разных уголках земли. Мы стремимся использовать весь опыт – как российский, так и зарубежный, для роста своего влияния.
					p
						| Производственная деятельность холдинга осуществляется компанией «Континент».
						br
						| Компания занимаемся производственным бизнесом и продажей электрооборудования, в частности: систем экономии электроэнергии, систем стабилизации, систем оперативного постоянного тока (СОПТ), систем гарантированного электроснабжения удалённых объектов и источников бесперебойного питания как классического так и промышленного исполнения.
					p
						| Компания «Континент» осуществляет работы по комплексным решениям в области электроснабжения, АСУТП оборудования и технологических процессов как отдельных, небольших исполнительных органов, так и масштабных технологических комплексов.
					p
						| Важной задачей является создание собственного подразделения Research and Development (R&D). LEXX Technology понимает всю важность ведения Научно-технических работ по созданию новых видов продукции и решений в области АСУТП, Электроснабжения и обеспечения гарантированного электропитания и планирует создать Технологический Центр им. Александра Степановича Попова, где будут реализованы эти решения.
					figure
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/dreamstime_l_32813288.jpg', style='width: 1100px;')
					p
						| Потребителями нашей продукции являются не только крупные компании и корпорации но и часть частных покупателей . При работе с крупными компаниями и корпорациями мы не только участвуем в тендерах, проводимых этими компаниями, а также работаем через заключение прямых и рамочных контрактов на разработку специальных, нестандартных решений и оборудования.
					p
						| В настоящее время наша деятельность на рынке электрооборудования не ограничена Россией и сопредельными странами. Компания активно занимается развитием и продвижением своих продуктов на рынки Ближнего востока, Стран Центральной и Латинской Америки, Египта и других стран Африки.
					figure
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/middle%20east.jpg', style='width: 538px;')
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/%D0%BA%D0%B0%D1%80%D1%82%D0%B0.png', style='width: 538px;')
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/slaviansky.jpg', style='width: 538px;')
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F.jpg', style='width: 538px;')
					p
						| Все оборудование производимое на территории РФ холдингом LEXX Technology имеет необходимые сертификаты, лицензии и разрешения на производство и реализацию продукции и решений.
					figure
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/%D1%81%D0%B5%D1%80%D1%82.png', style='width: 1100px;')
					p
						| Предприятия холдинга относятся к легкой промышленности, деятельность которой не требует разрешения природоохранных регулирующих органов РФ для производства и реализации своей продукции.
					p
						| Однако, в корпорации постоянно совершенствуются технологии направленные на достижения высоких показателей по эффективному энергопотреблению. А внедрение принципов бережливого производства позволяет снижать трудозатраты и экономить сырьё, что благоприятно отражается на стоимости готовой продукции и её качестве.
					p
						| Головной офис холдинга расположен по адресу: 
						strong РФ, 620137, г. Екатеринбург, ул. Сулимова 50, офис 5.14
						| .
					figure
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/ekb.jpg', style='width: 538px;')
						img(alt='', src='http://lexxtechnology.dextra-test.ru/pics/uploads/bp.jpg', style='width: 538px;')
					p
						| Екатеринбург является административным центром Свердловской области, расположен в центре Евразийского континента, на границе Европы и Азии. Население города в 2010 году составляло 1 468 833 человека по данным на 2018 год. Екатеринбург является главным промышленным и культурным центром Уральского федерального округа.
					p
						| Площадь производственных помещений холдинга составляет 2000 квадратных метров. Помещения компании имеют всю необходимую для текущей деятельности инфраструктуру. Местоположение компании имеет удобные подъездные пути и транспортные развязки.

