mixin prod-card
	section.prod-card
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Продукция
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Источники бесперебойного питания
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Источник бесперебойного питания PowerSpot
				h1 Источник бесперебойного 
					br
					| питания PowerSpot
			.prod-card__container
				.prod-card__column
					.prod-card__info.wis-content
						p Первые шаги в разработке бесперебойного источника питания (ИБП) команда начала ещё в в 2012 году и сегодня данное устройство является одним из наиболее перспективных систем бесперебойного электропитания, основанных на современной PWM-бестрансформаторной технологии, которые легко приспосабливаются к самым разнообразным и сложным нагрузкам: нелинейные устройства (IT-системы), большие индуктивные или ёмкостные нагрузки, газоразрядные лампы, асинхронные двигатели и т.д.
					.lightgallery
						a(href="https://www.youtube.com/watch?v=_7pmUPMcOYk").prod-card__video Видео о продукте
					a(href="#").btn.prod-card__link Перейти к характеристикам

				.prod-card__column
					.prod-card__overimg
						img(src="./img/product.png", alt="").prod-card__img
