mixin projects
	section.projects
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Реализованные проекты
				h1 Реализованные проекты
			
			.projects__map#yaMap

			.projects__text.wis-content
				p Компания была создана 5 июня 2019 года в Екатеринбурге. В нее сейчас входит дочерняя компания «Континент» которая на 100% принадлежит компании LEXX TECHNOLOGY CORP. Компания никогда не была банкротом и не участвовала в разбирательствах по слиянию или поглощению.
				p Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом, инжинирингом и продажей электрооборудования, в частности: систем экономии электроэнергии, системы стабилизации, систем оперативного постоянного тока, систем гарантированного электроснабжения удалённых объектов и источников бесперебойного питания, строительством центров обработки данных, разработкой решений в области электроснабжения, АСУТП, цифровым производством.

			.projects__list.cards
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-1.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем электропитания на базе топливных элементов
					p.cards__text LEXX Technology – инжиниринговая корпорация стоящая во главе электротехнического холдинга. Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом и продажей электрооборудования.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-2.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем накопления и хранения энергии
					p.cards__text Системы автоматизации технологического оборудования и процессов, системы накопления и хранения энергии, систем электропитания на базе топливных элементов.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-3.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Системы гарантированного электроснабжения
					p.cards__text Системы экономии электроэнергии, системы стабилизации, системы оперативного постоянного тока, системы гарантированного электроснабжения удалённых объектов и источников бесперебойного питания.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-1.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем электропитания на базе топливных элементов
					p.cards__text LEXX Technology – инжиниринговая корпорация стоящая во главе электротехнического холдинга. Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом и продажей электрооборудования.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-2.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем накопления и хранения энергии
					p.cards__text Системы автоматизации технологического оборудования и процессов, системы накопления и хранения энергии, систем электропитания на базе топливных элементов.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-3.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Системы гарантированного электроснабжения
					p.cards__text Системы экономии электроэнергии, системы стабилизации, системы оперативного постоянного тока, системы гарантированного электроснабжения удалённых объектов и источников бесперебойного питания.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-1.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем электропитания на базе топливных элементов
					p.cards__text LEXX Technology – инжиниринговая корпорация стоящая во главе электротехнического холдинга. Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом и продажей электрооборудования.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-2.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Систем накопления и хранения энергии
					p.cards__text Системы автоматизации технологического оборудования и процессов, системы накопления и хранения энергии, систем электропитания на базе топливных элементов.
				.cards__item
					.cards__over-img
						a(href="#", data-popup="one-news").cards__over-link.js-open-popup
						img(src="./img/news/img-3.jpg", alt="").cards__over-pic
					data.cards__data 12/07/2019
					a(href="#", data-popup="one-news").cards__link.js-open-popup
						span Системы гарантированного электроснабжения
					p.cards__text Системы экономии электроэнергии, системы стабилизации, системы оперативного постоянного тока, системы гарантированного электроснабжения удалённых объектов и источников бесперебойного питания.

			button(type="button").news__btn.btn Показать ещё
