.hero
	margin-top: -126px
	position: relative

	.wrapper
		width: 100%

	&__slide
		height: calc(100vh - 50px)
		min-height: 700px
		display: flex
		flex-direction: column
		justify-content: center
		background-size: cover
		background-repeat: no-repeat

	&__title
		font-size: 72px
		line-height: 76px
		max-width: 750px
		font-weight: bold
		color: $white
	
	.swiper-buttons
		display: flex
		justify-content: flex-end
		position: absolute
		right: 50%
		top: 50%
		max-width: 1440px
		width: 100%
		margin: 0 auto
		transform: translateX(50%)
		z-index: 1

	.swiper-button-prev
		position: static
		background-image: inline('hero-next-btn.svg')
		background-size: 45px 34px
		width: 45px
		height: 34px
		transform: rotate(180deg) translateX(0)
		margin-right: 36px
		margin-top: 0
		transition: .5s transform
		will-change: transform

		&:hover
			transform: rotate(180deg) translateX(15px)

	.swiper-button-next
		position: static
		background-image: inline('hero-next-btn.svg')
		background-size: 45px 34px
		width: 45px
		height: 34px
		margin-top: 0
		transform: translateX(0)
		transition: .5s transform
		will-change: transform

		&:hover
			transform: translateX(15px)

	&__catalog-items
		display: flex
		z-index: 100
		margin-top: -165px
		max-width: 1012px
		margin-left: auto

	&__catalog-item
		width: 506px
		height: 165px
		background-color: $main-blue
		z-index: 100
		padding: 40px 50px
		box-sizing: border-box

		&:nth-child(2n+2):not(&--empty)
			background-color: $darker-blue
		
		&--empty
			background-color: $t

		&:hover
			.hero__catalog-name
				border-color: $t

	&__catalog-name
		font-size: 22px
		line-height: 26px
		color: $white
		font-weight: 500
		border-bottom: 1px solid rgba(255,255,255,.25)
		transition: .5s border-color

	&__catalog-link
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
