html
	-webkit-box-sizing: border-box
	box-sizing: border-box

*,
*::after,
*::before
	-webkit-box-sizing: inherit
	box-sizing: inherit

body,
html
	width: 100%

body
	font-family: 'Gotham Pro'
	font-style: normal
	font-weight: normal
	position: relative
	background-color: $main-blue

h1,
h2,
h3,
h4,
ul,
li,
img,
a,
p,
button
	margin: 0
	padding: 0

li
	list-style: none

a
	text-decoration: none

button,
input,
textarea
	background-color: transparent
	border: none
	outline: none
	border-radius: 0
	box-shadow: none

textarea
	resize: none

.ovh
	overflow: hidden
	position: fixed
	// padding-right: 17px

.wrapper
	max-width: 1440px
	margin: 0 auto
	@include desktop
		padding: 0 33px
	@include mob
		padding: 0 15px

.ff
	.footer
		&__nav-item
			break-inside: avoid

.logo
	@include pad
		margin-right: auto

	&__link
		display: inline-block
		font-size: 0
		line-height: 0

	&__img
		width: 175px
		object-fit: cover
		font-family: 'object-fit: cover;'
		@include pad
			width: 100px
