mixin hero
	section.hero
		.swiper-container.js-hero-slider
			.swiper-wrapper
				.swiper-slide.hero__slide(style="background-image: url('./img/hero-slider-img1.jpg')")
					.wrapper
						p.hero__title Реализация проектов в области электроснабжения
				.swiper-slide.hero__slide(style="background-image: url('./img/hero-slider-img1.jpg')")
					.wrapper
						p.hero__title Второй слайд

			.swiper-buttons
				.swiper-button-prev
				.swiper-button-next

		.wrapper
			.hero__catalog-items
				.swiper-container.js-heroCatalog-slider
					.swiper-wrapper
						.swiper-slide.hero__catalog-item
							a(href="#").hero__catalog-link
							span.hero__catalog-name Системы энергосбережения и стабилизации электрического тока
						.swiper-slide.hero__catalog-item
							a(href="#").hero__catalog-link
							span.hero__catalog-name Системы оперативного постоянного тока 
						.swiper-slide.hero__catalog-item
							a(href="#").hero__catalog-link
							span.hero__catalog-name Что-то новое
						.swiper-slide.hero__catalog-item.hero__catalog-item--empty
