mixin iabout
	section.iabout
		.wrapper
			.iabout__video
				button(type="button").iabout__video-btn.js-play-video
				video(poster="./img/video-poster.jpg").js-video
					source(src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")

			.iabout__content
				.iabout__left
					p.iabout__title LEXX Technology – инжиниринговая корпорация стоящая во главе электротехнического холдинга. Мы занимаемся производством и продажей электрооборудования.
					.iabout__text
						p LEXX Technology создана в июне 2019 года и сейчас в ее состав входят инжиниринговая компания «Континент» и компания «Инфосеть». Непосредственно и через дочерние компании LEXX Technology осуществляет разработку и продажу электрооборудования.
					
					a(href="#").iabout__link Подробнее о компании 
				img(src="./img/iabout-img.png", alt="").iabout__content-img
