include blocks/blocks

doctype html
html(lang="ru")
	+head('Контакты')
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
	body.white.inner
		+header('./img/logo-black.png')
		main
			+contacts
		+footer
		+hidden-blocks
	+scripts
