include blocks/blocks

doctype html
html(lang="ru")
	+head('Главная')
	body.index
		.first-screen
			.first-screen__inner
			+header
			+hero
		main
			+icatalog
			+iabout
			+inews
		+footer
	+scripts
