include blocks/blocks

doctype html
html(lang="ru")
	+head('Оглавление')
	body.content
		.content__container
			.content__item
				b 1. 
				a(href="./index-page.html", target="blank").content__link Главная

	style.
		.content {
			display: flex;
			justify-content: center;
			padding: 200px 0;
		}

		.content__item {
			margin-bottom: 20px
		}

		.content__link {
			color: black;
			text-decoration: underline;
			font-size: 20px;
		}
