include standart/head
include standart/header
include standart/footer
include standart/scripts
include standart/default

include index/hero
include index/inews
include index/iabout
include index/icatalog

include products/products

include prod-category/prod-category

include prod-card/prod-card

include search-page/search-page

include contacts/contacts
