mixin products
	section.products
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Продукция
				h1 Продукция

			.products__container
				ul.products__list
					li.products__item
						a(href="#").products__link
						.products__name
							span Системы энергосбережения и стабилизации электрического тока
						img(src="./img/icatalog-icon1.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img

					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img

					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img
					
					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img
					
					li.products__item
						a(href="#").products__link
						.products__name
							span Системы энергосбережения и стабилизации электрического тока
						img(src="./img/icatalog-icon1.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img

					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img

					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img
					
					li.products__item
						a(href="#").products__link
						.products__name
							span Системы оперативного постоянного тока 
						img(src="./img/icatalog-icon2.png", alt="").products__icon
						span.products__bg
						.products__over-img
							img(src="./img/products-image.jpg", alt="").products__hover-img
