.footer
	border-top: 1px solid #f1f1f1
	padding: 35px 0
	background-color: $white

	.wrapper
		display: flex

		@include pad
			flex-direction: column-reverse

	&__left
		display: flex
		flex-direction: column
		width: calc(100% / 4 - 36px)
		margin-right: 43px

		@include pad
			width: 100%
			margin-right: 0

	&__copyrights
		font-size: 15px
		line-height: 21px
		color: $black
		margin-bottom: 22px

		@include desktop
			font-size: 14px
			line-height: 20px

	&__adress
		font-size: 15px
		line-height: 21px
		color: $black
		margin-bottom: 20px

		@include desktop
			font-size: 14px
			line-height: 20px
	
	&__phones
		display: flex
		flex-direction: column
		margin-bottom: 13px

		@include pad
			flex-direction: row
			flex-wrap: wrap

	&__phones-link
		font-size: 16px
		line-height: 20px
		font-weight: 500
		color: $black
		display: inline-block
		margin-bottom: 2px

		@include desktop
			font-size: 14px
			line-height: 20px

		@include pad
			margin-right: 15px

	&__emails-link
		color: $main-blue
		font-size: 15px
		line-height: 21px
		border-bottom: 1px solid $border-bottom
		transition: .5s border-color

		@include desktop
			font-size: 14px
			line-height: 20px

		&:hover
			border-color: $t
		
	&__nav
		width: calc((100% / 4) * 3)

		@include pad
			width: 100%
			margin-bottom: 40px
			display: none
		

	&__nav-list
		columns: 3

		@include mob
			columns: 2
		
		@media (max-width: 395px)
			columns: 1

	&__nav-item
		margin-right: 36px
		margin-bottom: 31px
		break-inside: avoid-column

		&.active
			.footer__nav-link
				color: $main-blue

		@include pad
			margin-right: 10px

	&__nav-link
		font-size: 16px
		line-height: 21px
		font-weight: 500
		color: $black
		display: inline-block
		transition: .5s color

		@include desktop
			font-size: 15px
			line-height: 20px

		&:hover
			color: $main-blue
	
	&__nav-sublist
		margin-top: 15px

		@media (max-width: 395px)
			display: none
	
	&__nav-subitem
		margin-bottom: 14px

		&.active
			.footer__nav-sublink
				color: $main-blue

	&__nav-sublink
		font-size: 15px
		line-height: 21px
		color: $gray-text
		display: inline-block
		transition: .5s color

		@include desktop
			font-size: 14px
			line-height: 20px

		&:hover
			color: $main-blue
