.hidden-blocks
	height: 0
	&.active
		.hidden-blocks__over
			overflow-y: scroll
			z-index: 1000

	&__over
		padding: 90px 0
		top: 0
		left: 0
		right: 0
		bottom: 0
		position: fixed
		overflow: hidden
		text-align: center
		z-index: -1

		@include mob
			padding: 0

		&:before
			content: ""
			display: inline-block
			font-size: 0
			height: 100%
			vertical-align: middle
			width: 0

			@include mob
				content: none

.popup-bg
	background-color: $main-blue
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	height: 0
	z-index: 10
	visibility: hidden
	opacity: 0

	transition: .5s height, .05s opacity, .05s visibility

	&.active
		height: 100%
		visibility: visible
		opacity: 1

.popup
	text-align: left
	position: relative
	display: inline-block
	vertical-align: middle
	width: 960px
	background-color: $white
	z-index: 101
	padding: 61px 48px
	display: none
	opacity: 0
	will-change: opacity

	&--w510
		width: 510px

	&--w600
		width: 600px
	
	&--search
		background-color: $t

		.popup__close
			filter: brightness(0) invert(1)

		.search__input
			color: $white

			&::placeholder
				color: $white

		.search__btn
			filter: brightness(0) invert(1)
			opacity: 1
			transition: .5s opacity
			&:hover
				opacity: .7
				filter: brightness(0) invert(1)

	&.active
		opacity: 1

	@media only screen and (max-width: 1170px)
		width: 85%
	
	@include pad
		width: 95%
		padding: 50px 30px
	
	@include mob
		width: 100%
		padding: 50px 20px

	&__close
		size: 28px 28px
		background-image: inline('close.svg')
		position: absolute
		top: -48px
		right: -48px
		font-size: 0 / 0
		filter: brightness(0) invert(1)
		cursor: pointer
		opacity: 1
		transition: .5s transform

		&:hover
			transform: rotate(180deg)

		@include pad
			filter: brightness(0) invert(0)
			top: 18px
			right: 18px


.news-popup
	&__data
		font-size: 14px / 17px
		color: $black
		margin-bottom: 40px
		display: inline-block

		@include desktop
			font-size: 13px / 17px

	h2
		margin-bottom: 20px

		@include desktop
			margin-bottom: 22px

	&__btn
		width: 285px
		margin-top: 12px
		margin-bottom: 9px

		@include pad
			width: 200px

.form-popup
	h2
		font-size: 40px
		line-height: 44px
		font-weight: 500
		color: $black
		margin-bottom: 28px

		@media only screen and (max-width: 500px)
			font-size: 26px
			line-height: 28px
	
	&__text
		font-size: 15px
		line-height: 21px
		color: $black
		margin-bottom: 20px

		a
			color: $main-blue
			border-bottom: 1px solid $main-blue
			-webkit-transition: .5s border-color
			transition: .5s border-color

			&:hover
				border-color: $t
	
	&__warn
		color: $black
		font-size: 15px
		line-height: 21px
		margin-bottom: 30px

		span
			color: $red

	&__btn
		margin-top: 21px
		min-width: 285px

		@include pad
			min-width: 200px
			

.thanks-popup
	h2
		font-size: 40px
		line-height: 44px
		font-weight: 500
		color: $black
		margin-bottom: 28px

		@media only screen and (max-width: 500px)
			font-size: 26px
			line-height: 28px

	p
		font-size: 15px
		line-height: 21px
		color: $black
		margin-bottom: 20px

	&__btn
		margin-top: 21px
		min-width: 285px

		@include pad
			min-width: 200px

.project-popup
	&__data
		font-size: 14px / 17px
		color: $black
		margin-bottom: 40px
		display: inline-block

		@include desktop
			font-size: 13px / 17px

	h2
		margin-bottom: 20px

		@include desktop
			margin-bottom: 22px

	&__btn
		width: 285px
		margin-top: 12px
		margin-bottom: 9px

		@include pad
			width: 200px
	
	&__slider
		margin-bottom: 38px

	&__slider-img
		width: 100%
		max-width: 100%
	
	.swiper-slide
		font-size: 0
		line-height: 0
	
	.swiper-navigation
		position: absolute
		width: 100%
		bottom: 0
		justify-content: flex-end
		display: flex

	.swiper-button-next
		width: 68px
		height: 68px
		position: relative
		background-color: $darker-blue
		background-image: none
		margin: 0
		right: 0
		left: 0
		top: 0

		@include mob
			width: 48px
			height: 48px

		&:hover
			&:before
				left: calc(50% + 5px)

		&:before
			content: ''
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			position: absolute
			background-image: inline('hero-next-btn.svg')
			width: 39px
			height: 26px
			background-size: 39px 26px
			transition: .8s left
			background-repeat: no-repeat

			@include mob
				width: 29px
				height: 16px
				background-size: 29px 16px
	
	.swiper-button-prev
		width: 68px
		height: 68px
		position: relative
		background-color: $dark-blue
		background-image: none
		margin: 0
		right: 0
		left: 0
		top: 0

		@include mob
			width: 48px
			height: 48px

		&:hover
			&:before
				left: calc(50% - 5px)

		&:before
			content: ''
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(180deg)
			position: absolute
			background-image: inline('hero-next-btn.svg')
			width: 39px
			height: 26px
			background-size: 39px 26px
			transition: .8s left
			background-repeat: no-repeat

			@include mob
				width: 29px
				height: 16px
				background-size: 29px 16px



