mixin default
	.wis-content
		.wrapper
			ul.breadcrumbs
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__line /
				li.breadcrumbs__item
					span.breadcrumbs__link Очень большой заголовок первого уровня

			h1 Очень большой заголовок первого уровня
			p Компания была создана 5 июня 2019 года в Екатеринбурге. В нее сейчас входит дочерняя компания «Континент» которая на 100% принадлежит компании LEXX TECHNOLOGY CORP. Компания никогда не была банкротом и не участвовала в разбирательствах по слиянию или поглощению.
			p Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом, инжинирингом и продажей электрооборудования, в частности: систем экономии электроэнергии, системы стабилизации, систем оперативного постоянного тока, систем гарантированного электроснабжения удалённых объектов и источников бесперебойного питания, строительством центров обработки данных, разработкой решений в области электроснабжения, АСУТП, цифровым производством.
			h2 Очень большой заголовок второго уровня, чтобы показать интерльньяж
			p Также, в компанию LEXX TECHNOLOGY CORP входит АО «Инфосеть». Данная компания целиком и полностью осуществляет функции реализации проектов по строительству и дальнейшему обслуживанию стационарных Центров Обработки Данных. 
			figure
				img(src="./img/default-img.jpg", alt="")
				figcaption Описание фотографии если потребуется
			p Компания планирует рост продаж путем расширения производства для выполнения контрактных обязательств крупнейших российских корпораций, дальнейшего развития филиальной сети в России, выхода на рынок СНГ, Европы, Ближнего Востока, Соединенных Штатов, Стран Латинской Америки. Компания стремится быть эксклюзивным представителем крупнейших Европейских и Американских компаний в своей отрасли на российском рынке.
			ul
				li Системы энергосбережения и стабилизации электрического тока;
				li системы оперативного постоянного тока;
				li источники бесперебойного питания;
				li системы гарантированного электроснабжения удаленных объектов;
				li системы и решения в области АСУТП;
				li центры обработки данных;
				li редокс-поточные накопители энергии;
				li системы электроснабжения на топливных элементах СН4.
			p Компания была создана 5 июня 2019 года в Екатеринбурге. В нее сейчас входит дочерняя компания «Континент» которая на 100% принадлежит компании LEXX TECHNOLOGY CORP. Компания никогда не была банкротом и не участвовала в разбирательствах по слиянию или 
				a(href="#") поглощению.
			h3 Очень большой заголовок третьего уровня, чтобы показать интерльньяж
			p Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом, инжинирингом и продажей электрооборудования, в частности: систем экономии электроэнергии, системы стабилизации, систем оперативного постоянного тока, систем гарантированного электроснабжения удалённых объектов и источников бесперебойного питания, строительством центров обработки данных, разработкой решений в области электроснабжения, АСУТП, цифровым производством.
			table(style="width: 365px")
				tr
					th Раздел
					th Подразделы

				tr
					td Продукция
					td 3

				tr
					td Решения
					td 8

				tr
					td Реализованные проекты
					td 0

				tr
					td Покупателям
					td 0
				
				tr
					td Инвесторам
					td 2

				tr
					td Медиа
					td 15
				
				tr
					td Контакты
					td 4

				tr
					td Контакты
					td 0

			p Компания планирует рост продаж путем расширения производства для выполнения контрактных обязательств крупнейших российских корпораций, дальнейшего развития филиальной сети в России, выхода на рынок СНГ, Европы, Ближнего Востока, Соединенных Штатов, Стран Латинской Америки. Компания стремится быть эксклюзивным представителем крупнейших Европейских и Американских компаний в своей отрасли на российском рынке.

			ol
				li Объясняет, каким законом нужно пользоваться в определенной ситуации;
				li Консультирует, какие обстоятельства можно считать юридически значимыми;
				li Рассказывает, какие доказательства необхо димо представить, чтобы доказать те обстоятельства, которые помогут вернуть нарушенное право или обрести новое;
				li Помогает правильно сформулировать требования.
			p Непостоянство налогового законодательства приводит к тому, что многие частные предприниматели и крупные компании вынуждены оплачивать штрафы из-за неправильного понимания многих норм, связанных с налогообложением. Для того чтобы избежать их участи, можно воспользоваться услугами специалистов компании «1Капиталь», которые предлагают консультации по вопросам применения законодательных норм, в том числе и налоговых.
			p
				b Заголовок маркерованного списка.
			ul
				li Объяснят особенности каждой из правовых форм хозяйственной деятельности, помогут определиться с выбором оптимальной для вашего бизнеса;
				li Проконсультируют по поводу получения лицензии, реорганизации или ликвидации компании, отчуждения корпоративных прав и пр.;
				li Проконсультируют по поводу прав, которыми обладают акционеры и участники хозяйственных обществ, в том числе и расскажут, какие методы защиты этих прав предусмотрены в законодательстве;
				li Объяснят, как разрешить в законодательном порядке корпоративные споры;
				li Проконсультируют по поводу правовой стороны инвестиционных проектов, операций на бирже ценных бумаг и т.д.
			p Компания планирует рост продаж путем расширения производства для выполнения контрактных обязательств крупнейших российских корпораций, дальнейшего развития филиальной сети в России, выхода на рынок СНГ, Европы, Ближнего Востока, Соединенных Штатов, Стран Латинской Америки. Компания стремится быть эксклюзивным представителем крупнейших Европейских и Американских компаний в своей отрасли на российском рынке.
