mixin prod-category
	section.prod-category
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Продукция
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Источники бесперебойного питания
				h1 Источники бесперебойного 
					br
					| питания
			.prod-category
				ul.prod-category__list
					li.prod-category__item
						a(href="#").prod-category__link
						.prod-category__over-img
							img(src="./img/catalog/img-2.png", alt="").prod-category__img
						.prod-category__name
							span Источники бесперебойного питания PowerSpot

					li.prod-category__item
						a(href="#").prod-category__link
						.prod-category__over-img
							img(src="./img/catalog/img-1.png", alt="").prod-category__img
						.prod-category__name
							span Промышленные источники бесперебойного питания «ИксТРА»

					li.prod-category__item
						a(href="#").prod-category__link
						.prod-category__over-img
							img(src="./img/catalog/img.png", alt="").prod-category__img
						.prod-category__name
							span Модульные источники бесперебойного питания «Адапт»
