mixin certificates
	section.certificates
		.wrapper
			.title
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Главная
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						a(href="#").breadcrumbs__link Компания
					li.breadcrumbs__item
						span.breadcrumbs__line /
					li.breadcrumbs__item
						span.breadcrumbs__link Сертификаты и лицензии
				h1 Сертификаты и лицензии
				ul.subnav
					li.subnav__item
						a(href="#").subnav__link О компании
					li.subnav__item
						a(href="#").subnav__link Новости
					li.subnav__item.active
						a(href="#").subnav__link Сертификаты и лицензии
			.certificates__text.wis-content
				p Компания была создана 5 июня 2019 года в Екатеринбурге. В нее сейчас входит дочерняя компания «Континент» которая на 100% принадлежит компании LEXX TECHNOLOGY CORP. Компания никогда не была банкротом и не участвовала в разбирательствах по слиянию или поглощению.
				p Непосредственно и через наши дочерние компании мы занимаемся производственным бизнесом, инжинирингом и продажей электрооборудования, в частности: систем экономии электроэнергии, системы стабилизации, систем оперативного постоянного тока, систем гарантированного электроснабжения удалённых объектов и источников бесперебойного питания, строительством центров обработки данных, разработкой решений в области электроснабжения, АСУТП, цифровым производством.

			.certificates__items
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-1.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 768 Kb
						p.certificates__name Систем электропитания на базе топливных элементов
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-2.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 1,12 Mb
						p.certificates__name Системы энергосбережения и стабилизации электрического тока
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-3.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 913 Kb
						p.certificates__name Системы оперативного постоянного тока
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-4.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 768 Kb
						p.certificates__name Систем электропитания на базе топливных элементов
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-5.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 1,12 Mb
						p.certificates__name Системы энергосбережения и стабилизации электрического тока
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-6.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 913 Kb
						p.certificates__name Системы оперативного постоянного тока
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-7.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 768 Kb
						p.certificates__name Систем электропитания на базе топливных элементов
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-8.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 1,12 Mb
						p.certificates__name Системы энергосбережения и стабилизации электрического тока
				.certificates__item
					a(href="#", target="_blank").certificates__link
					.certificates__preview
						img(src="./img/docs/img-9.jpg", alt="").certificates__img
					.certificates__info
						span.certificates__size PDF, 913 Kb
						p.certificates__name Системы оперативного постоянного тока

			button(type="button").certificates__btn.btn Показать ещё
